* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0;
    background: linear-gradient(90deg, #FFD1DC 5%, #FFF0F5 30%, #FFD1DC 100%);
}

.body__wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    color: #FFE4E1;
}

h1 {
    color: #FFE4E1;
    font-size: 50px;
    text-align: center;
    margin: 40px 0 20px;
}

.start__heart {
    cursor: pointer;
    width: 520px;
    height: 450px;
    background: url(../assets/img/big-heart.png);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__heart:hover {
    transition: all 500ms;
    background-size: 115%;
    font-size: 40px;
}

.start__heart:active {
    transition: all 500ms;
    filter: hue-rotate(-85deg);
}

.footer__link {
    margin: 30px 0
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #FFE4E1;

}