* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0;
    background: linear-gradient(90deg, #FFD1DC 5%, #FFF0F5 30%, #FFD1DC 100%);
}

.body__wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #FFE4E1;
    font-size: 50px;
    text-align: center;
    margin: 40px 0 20px;
}


.footer__link {
    margin: 30px 0
}

a {
    text-decoration: none;
    color: #FFE4E1;
    font-size: 20px;
}